.header {
  padding: 6px;
  text-align: center;
  background: #9f77a7;
  color: rgb(212, 215, 186);
  font-size: 20px;
  min-height: 50px; 
}

.header, .footer {
  background-image: url('background.jpg'); /* Use the same image */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* No tiling */
  color: white; /* Ensure text is readable on the background */
  padding: 20px; /* Add padding for spacing */
  text-align: center; /* Center text */
}

.main {
  background: #ffffff;
}

.footer {
  padding: 10px;
  text-align: right;
  background: #9f77a7;
  color: rgb(212, 215, 186);
  font-size: 20px;
  min-height:20px; 
  position: sticky;
  bottom: 0;
}

.footer a {
  text-decoration: none;
}

.cart-button {
  text-decoration: none;
  color: white; 
  font-size: 40px;
  position: relative; 
}


.cart-number {
  position: absolute; 
  top: -10px; 
  right: 0px; 
  background: rgb(192, 54, 36); 
  color: rgb(255, 255, 255);
  border-radius: 100%; 
  padding: 3px; 
}

#cart {
  display: none; 
  position: fixed; 
  top: 10px;
  right: 50px; 
  background: lightgrey; 
  border: 1px solid #ccc; /* Border for definition */
  padding: 30px; /* Padding for comfort */
  z-index: 100; /* Ensure it's above other content */
}


#cart:target {
  display: block; /* Show when targeted */
}

#cart-list {
  font-style: sans-serif;
  font-size: 20px;
  z-index: 100;
}