.logindiv {
  font-family: "Roboto Light";
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#registerlink{
    position:absolute;
    margin-top:70px
}

.boxtitles {
    position: absolute;
    right:100%
}
.loginboxes {
    width:400px;
    height:15px;
}
button[id="submitter1"]{
    font-family : "Comic Sans MS";
    color : blue;
    position: absolute;
    right: 50%;
    width:100px;
    height:50px
}