html {
  scroll-behavior: smooth;
}

#title {
  text-align: left;
  top: 0;
  left:0;
}

.header {
  padding: 10px;
  background: hsl(0, 0%, 44%); 
  color: rgb(255, 255, 255);
  font-size: 20px;
  min-height: 0px; 
}

.header, .footer {
  background-size: cover; 
  background-position: center; 
  text-align: center; 
} 

.footer {
  padding: 10px;
  text-align: right;
  background:hsl(0, 0%, 44%);
  color: rgb(255, 255, 255);
  font-size: 20px;
  min-height:20px; 
  position: sticky;
  bottom: 0;
}

.footer a {
  text-decoration: none;
}

.main{
  background-color: bisque;
}

.allrestaurants {
  display: inline-flex; 
  flex-direction: column;
  /* flex-wrap: wrap; */
}


.allrestaurants h2 {
  font-size: 50px;
  min-width: 100%;
  text-align: center;
  background-color: #cccccc;
  padding: 10px 0;
  margin: 5px;
  border-bottom: 10px solid #ddd; 
  cursor: pointer;
  white-space: pre;
  
}

.restaurant{
  column-count: 4;
  column-gap: 20px; 
  display: none;
  top: 100%; 
  left: 0; 
  width: 100%;
  background-color: #fff; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.restaurant.show {
  display: block;
}

.menu {
  break-inside: avoid; 
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 10px 0; 
  border-bottom: 1px solid #ddd;
}

.cart-button {
  text-decoration: none;
  color: white; 
  font-size: 40px;
  position: relative; 
}

.cart-number {
  position: absolute; 
  top: -10px; 
  right: 0px; 
  background: rgb(192, 54, 36); 
  color: rgb(255, 255, 255);
  border-radius: 100%; 
  padding: 3px; 
}

#cart {
  display: none; 
  position: fixed; 
  top: 10px;
  right: 50px; 
  background: lightgrey; 
  border: 1px solid #ccc; /* Border for definition */
  padding: 30px; /* Padding for comfort */
  z-index: 100; /* Ensure it's above other content */
}


#cart:target {
  display: block; /* Show when targeted */
}

#cart-list
,.total {
  font-style: sans-serif;
  font-size: 20px;
  color: black;
}


.button {
  background: #007bff;  /* Button background color */
  color: white;  /* Button text color */
  border: none;  /* No border */
  padding: 10px;  /* Padding for comfort */
  border-radius: 10px;  /* Rounded corners */
  cursor: pointer;  /* Pointer cursor for interactivity */
}

.button:hover {
  background: #49a897;  /* Darken background on hover */
}