<!DOCTYPE html>
<html lang="en">

<head>
    <title>Food_Delivery_MMU</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="header">
        <h1 id="title">Food Delivery MMU</h1> 

<!--    <form action="/templates/restaurant.html" method="get" class="searchbar">
            <input type="search" name="query" placeholder="Type the restaurant name." />
            <button type="submit">🔍</button>
        </form> -->
        
        
        <h2>Hello, <br><i>{{ username }}</i></h2>
        
    </header>

    <main class="main">
        <nav>
            <a href="/deen">DEEN</a><br>
            <a href="/htc">HTC</span></a><br>
            <a href="/">D'LIGHT_BAKERY</a><br>
        </nav>

    </main>
    
    <footer class="footer">
        <nav>
            <a href="#cart" class="cart-button">🛒 <span class="cart-number">3</span></a>
            <a href="/home">Home</a>
            <a href="/profile">Profile</a>
        </nav>

        <div id="cart">
            <a href="#close" class="close-button">✖</a>
            <h2 id ="cart-list">Order Cart</h2>
            <ul>
              {% for remark in remarks %}
              <li id="cart-list">{{ remark[0] }}</li> 
              {% endfor %}
              
            </ul>
            <div class="total">Total: $60.00</div>

            <a href="/checkout">Checkout</a>
            </div>

    </footer>
</body>
</html>