<!DOCTYPE html>
<html lang="en">

<head>
    <title>Food_Delivery_MMU</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="header">
        <h1 id="title">HTC</h1> 

        <form action="/templates/restaurant.html" method="get" class="searchbar">
            <input type="search" name="query" placeholder="Type the food name." />
            <button type="submit">🔍</button>
        </form>
        
        
        <h2>Hello, <br><i>username</i></h2>
        
    </header>

    <main class="main">
        <div class="menu">
            <h2>GORENG-GORENG</h2>
            <ul>
              <li>
                NASI   

                <form action="/add_to_cart" method="post">
                  <label for="remarks">Customer Remarks:</label>
                  <textarea  name="remarks" rows="4" cols="50" placeholder="Enter your remarks here"></textarea>
                  <button type="submit" class="button">Add to Cart</button>
                </form>
                
              </li>
              <li>
                MAGGI

                <form action="/add_to_cart" method="post">
                  <label for="remarks">Customer Remarks:</label>
                  <textarea name="remarks" rows="4" cols="50" placeholder="Enter your remarks here"></textarea>
                  <button type="submit" class="button">Add to Cart</button>
                </form>

              </li>
            </ul>
        </div>

    </main>
    
    <footer class="footer">
        <nav>
            <a href="#cart" class="cart-button">🛒 <span class="cart-number">3</span></a>
            <a href="/templates/home.html">Home</a>
            <a href="/templates/profile.html">Profile</a>
        </nav>

        <div id="cart">
          <a href="#close" class="close-button">✖</a>
          <h2 id ="cart-list">Order Cart</h2>
          <ul>
            {% for remark in remarks %}
            <li id="cart-list">{{ remark[0] }}</li> 
            {% endfor %}
            
          </ul>
          <div class="total">Total: $60.00</div>

          <form action="/add_to_cart" method="post">
            <button type="submit" class="checkout">Checkout</button>

          </form>
        </div>

    </footer>
</body>
</html>