<!DOCTYPE html>
<html lang="en">

<head>
    <title>Food_Delivery_MMU</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <style>
      .main {
          display: flex;
          flex-wrap: wrap;
      }

      .column {
          flex: 1;
          min-width: 300px; /* Adjust as needed */
      }

      .menu {
          margin: 10px;
      }

      .menu ul {
          list-style-type: none;
          padding: 0;
      }

      .menu li {
          padding: 10px 0; 
          border-bottom: 1px solid #ddd;
      }

      h2 {
          width: 100%;
          text-align: center;
      }
  </style>
</head>
<body>
    <header class="header">
        <h1 id="title">HTC</h1> 

        <form action="/templates/restaurant.html" method="get" class="searchbar">
            <input type="search" name="query" placeholder="Type the food name." />
            <button type="submit">🔍</button>
        </form>
        
        
        <h2>Hello, <br><i>username</i></h2>
        
    </header>

  <h2>DEEN</h2>
  <div class="main">

          <div class="menu">
              <h3>Western Food</h3>
              <ul>
                  <li>CHICKEN CHOP COMBO RICE RM 7.00</li>
                  <li>CHICKEN CHOP COMBO FRIED RICE RM 8.50</li>
                  <li>ROTI BAKAR RM 1.50</li>
                  <li>SANDWICH AYAM RM 2.50</li>
                  <li>SANDWICH SARDIN RM 2.50</li>
                  <li>ROT JOHN RM 5.00</li>
                  <li>FRIES RM 5.00</li>
                  <li>WET FRIES RM 5.00</li>
                  <li>FISH & CHIPS RM 11.00</li>
                  <li>CHICKEN CHOP (REGULAR) RM 12.00</li>
                  <li>CHICKEN GRILL RM 15.00</li>
                  <li>LAMB CHOP RM 18.00</li>
              </ul>
          </div>
          <div class="menu">
              <h3>Fried Noodles</h3>
              <ul>
                  <li>KUEY TIAU GORENG RM 5.00</li>
                  <li>BIHUN GOREN RM 5.00</li>
                  <li>BIHUN SINGAPORE RM 5.00</li>
                  <li>MEE GOREN RM 5.00</li>
                  <li>MEE GORENG MAMAK RM 5.00</li>
                  <li>MAGGIE GOREN RM 5.00</li>
                  <li>YEE MEE GOREN RM 6.00</li>
                  <li>HOKKIEN MEE RM 6.00</li>
                  <li>MAGGIE GORENG XLR RM 7.00</li>
              </ul>
          </div>
          <div class="menu">
              <h3>Chinese Style</h3>
              <ul>
                  <li>NASI BUTTER CHICKEN RM 8.00</li>
                  <li>NASI BUTTER FISH RM 8.00</li>
                  <li>NASI BUTTER PRAWN RM 9.00</li>
                  <li>NASI BUTTER SQUID RM 9.00</li>
                  <li>NASI BUTTER CAMPUR RM 10.00</li>
                  <li>NASI BUTTER MILK (CN) RM 10.00</li>
              </ul>
          </div>
      </div>
      <div class="column">
          <div class="menu">
              <h3>Tom Yam Soup + Rice</h3>
              <ul>
                  <li>TOM YAM SOUP (CENDAWAN) RM 7.00</li>
                  <li>TOM YAM SOUP (AYAM) RM 7.00</li>
                  <li>TOM YAM SOUP (DAGING) RM 8.00</li>
                  <li>TOM YAM SOUP (SEA FOOD) RM 8.00</li>
                  <li>TOM YAM SOUP (CAMPUR) RM 8.50</li>
              </ul>
          </div>
          <div class="menu">
              <h3>Soup</h3>
              <ul>
                  <li>MAGGIE SOUP RM 5.00</li>
                  <li>KUEY TIAU SOUP RM 5.00</li>
                  <li>BIHUN SOUP RM 5.00</li>
                  <li>VEGETARIAN + NASI RM 6.00</li>
                  <li>CENDAWAN + NASI RM 6.00</li>
                  <li>AYAM + NASI RM 6.00</li>
                  <li>DAGING + NASI RM 7.00</li>
                  <li>KAMBING + NASI RM 10.00</li>
              </ul>
          </div>
          <div class="menu">
              <h3>Nasi Goreng/ Fried Rice</h3>
              <ul>
                  <li>NASI GORENG BIASA (RM5) RM 5.00</li>
                  <li>NASI GORENG KAMPUNG RM 6.00</li>
                  <li>NASI GORENG CIN RM 5.00</li>
                  <li>NASI GORENG MAMAK RM 5.00</li>
                  <li>NASI GORENG TELUR (EGG) RM 5.00</li>
                  <li>NASI GORENG CILI API RM 5.00</li>
                  <li>NASI GORENG SAUSAGE RM 5.00</li>
                  <li>NASI GORENG TOMYAM RM 6.00</li>
                  <li>NASI GORENG SARDIN RM 6.00</li>
                  <li>NASI GORENG PATTAYA RM 6.00</li>
                  <li>NASI GORENG IKAN MASIN RM 6.00</li>
                  <li>NASI GORENG TOMATO RM 6.00</li>
                  <li>NASI GORENG CENDAWAN RM 6.00</li>
                  <li>NASI GORENG DAGING RM 7.00</li>
                  <li>NASI GORENG SEA FOOD RM 7.00</li>
                  <li>NASI GORENG AYAM (CHICKEN) RM 8.00</li>
                  <li>NASI GORENG PAPRIK AYAM RM 8.00</li>
                  <li>NASI GORENG MSA (EGG) RM 9.00</li>
                  <li>NASI GORENG THAI RM 9.00</li>
                  <li>NASI GORENG KAMBING RM 12.00</li>
              </ul>
          </div>
      </div>
  </div>

  <h2>HTC</h2>
  <div class="main">
      <div class="column">
          <div class="menu">
              <h3>Goreng-Goreng</h3>
              <ul>
                  <li>NASI GORENG RM4.50</li>
                  <li>NASI GORENG DOUBLE RM6.00</li>
                  <li>NASI GORENG CILI PADI RM6.00</li>
                  <li>NASI GORENG CINA RM5.00</li>
                  <li>NASI GORENG KAMPUNG RM6.00</li>
                  <li>NASI GORENG AYAM RM8.00</li>
                  <li>NASI GORENG KAMPUNG [AYAM] RM9.00</li>
                  <li>NASI GORENG PATTAYA RM6.00</li>
                  <li>MAGGI RM4.50</li>
                  <li>MAGGI DOUBLE RM7.00</li>
                  <li>MAGGI DOUBLE AYAM RM10.00</li>
                  <li>MEE RM4.50</li>
                  <li>BIHUN RM4.50</li>
                  <li>KUEY TEOW RM4.50</li>
                  <li>ROJAK RM4.50</li>
                  <li>TELUR MATA RM1.00</li>
                  <li>TELUR DADAR RM1.50</li>
              </ul>
          </div>
      </div>
      <div class="column">
          <div class="menu">
              <h3>Mee/ Kue Teow/ Bihun</h3>
              <ul>
                  <li>MEE/NASI GORENG RM4.50</li>
                  <li>KUE TEOW/BIHUN GORENG RM4.50</li>
                  <li>ROJAK BIASA RM5.50</li>
                  <li>ROJAK TELUR RM5.50</li>
                  <li>ROJAK MEE/MEE RM5.50</li>
              </ul>
          </div>
      </div>
  </div>


    </footer>
</body>
</html>