<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/login.css">

    <title>Login Page</title>
</head>
<body>
    <h2>Log in</h2>
    <div id="output"></div>

    <form action="/login" method="post" class="logindiv">
        {% if not login_failed %}
            <p style="color: blue;">Enter your username and password!</p>
        {% endif %}
        {% if login_failed%}
            <p style="color: red;">Login failed. Please check your username and password.</p>
        {% endif %}

        <label for="username" class="boxtitles">Username:</label>
        <input type="text" id="username" name="username" class="loginboxes" required><br><br>

        <label for="password" class="boxtitles">Password:</label>
        <input type="password" id="password" name="password" class="loginboxes" required><br><br>
        <button type="submit" id="submitter1">Login</button>
    </form>
    <a href="/html">Back to Page 1</a>

    <button id="colorButton" class="button">Change Color</button>

    <script>
        //Sources
        //1) Arabic man's localstorage json saving
        // Link: https://www.youtube.com/watch?v=Qf7LRZjOWd8&ab_channel=AbdullahAlSawalmeh


        // Ignore the red lines, it's just js not recognizing jinja2
        const loginFailed = {{ login_failed|tojson|safe }};
        if (localStorage.getItem('loginFailedCounter') === null) {
            //loginfailedcounter initialized with 0
            localStorage.setItem('loginFailedCounter', '0');
        }
        let loginFailedCounter = parseInt(localStorage.getItem('loginFailedCounter'));

        // Access HTML elements
        const counterDisplayer = document.getElementById("output");
        const button1 = document.getElementById('colorButton');
        const buttonLogin = document.getElementById('submitter1');

        // Color changing is experimental, just to see if it works
        buttonLogin.addEventListener('submit', () => {
            if(loginFailed) {
                const randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
                buttonLogin.style.background = randomColor;
                loginFailedCounter += 1;
                counterDisplayer.textContent = loginFailedCounter;
                // stringify it so that json can save it
                localStorage.setItem('loginFailedCounter', loginFailedCounter.toString());
            }
            counterDisplayer.textContent = loginFailedCounter;
        });
    </script>
</body>
</html>
