<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/login.css">

    <title>Login Page</title>
</head>
<body>
    <h2>Log in</h2>
    <div id="output"></div>

<!--    {% if secondAttempt %}-->
<!--        <p style="color: red;">Did your fingers slip?</p>-->
<!--    {% endif %}-->

<!--    {% if thirdAttempt %}-->
<!--        <p style="color: red;">Are you trying to guess a random password? >:(</p>-->
<!--    {% endif %}-->

<!--    {% if fourthAttempt %}-->
<!--        <p style="color: red;">Good luck then...</p>-->
<!--    {% endif %}-->

    <form action="/login" method="post" class="logindiv">
        {% if not login_failed %}
            <p style="color: blue;">Enter your username and password!</p>
        {% endif %}
        {% if login_failed%}
            <p style="color: red;">Login failed. Please check your username and password.</p>
        {% endif %}

        <label for="username" class="boxtitles">Username:</label>
        <input type="text" id="username" name="username" class="loginboxes" required><br><br>

        <label for="password" class="boxtitles" >Password:</label>
        <input type="password" id="password" name="password" class="loginboxes" required><br><br>
        <button type="submit" id="submitter1">Login</button>
    </form>
    <a href="/html">Back to Page 1</a>

    <button id="colorButton" class="button">Change Color</button>

    <script>
    // Pass Flask variable to JavaScript
        //Ignore the red lines, thats just jinja2 doin it's thing
        const loginFailed = {{ login_failed|tojson|safe }};
        loginFailedCounter = [];
        let loginPressed = false;

        // Access HTML elements
        const counterDisplayer = document.getElementById("output");
        const button1 = document.getElementById('colorButton');
        const buttonLogin = document.getElementById('submitter1');

        // Add event listener to the color change button
        buttonLogin.addEventListener('click', () => {
            if(loginFailed){

                const randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
                buttonLogin.style.background = randomColor;
                loginFailedCounter.push(1);
                counterDisplayer.textContent = loginFailedCounter.length;
            }
        });
    </script>
</body>
</html>
