    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>Hi, {{ finalUsername }}</h1>
         <form method="post">
            <button type="submit" name="logOut" id="logOut" value="True" >Log out</button>
            <button type="submit" name="deleteAccount" id="deleteAccount" value="True" >Delete account</button>
         </form>
        <p>Logged in: {{ loggedIn }}</p>
        <p>Session : {{ usernameP }}</p>

    </body>
    </html>