<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form method="post">
        <label for="usernamereg">Username:</label>
        <input type="text" id="usernamereg" name="usernamereg" required><br><br>


        <label for="passwordreg">Password:</label>
        <input type="password" id="passwordreg" name="passwordreg" required><br><br>

        <label for="confirmpasswordreg">Confirm password:</label>
        <input type="password" id="confirmpasswordreg" name="confirmpasswordreg" required><br><br>
        <p class="tinytexts">Password be must 6 or more characters</p>
{#        <div id="incorrectTextType"></div>#}

        {% if not passproperlength  %}
            <p style="color: red;">Inappropriate password length.</p>
        {% else %}
            <p>Good password</p>
        {% endif %}

        {% if not passSameWithConfirm  %}
            <p style="color: red;">Password is not the same as the confirmed password.</p>
        {% else %}
            <<p>Good password</p>
        {% endif %}



        <button type="submit" id="registerButton">Register</button>
    </form>

<script>
    /*
    const passProperLength = x

    const incorrectInputTexts = document.getElementById('incorrectTextType');

    if(!passProperLength && !passNotSame){
        incorrectInputTexts.textContent = "-Inappropiate password length \n -Password is not same with confirmation"
    } else {
        if (!passProperLength) {
            incorrectInputTexts.textContent = "-Inappropriate password length";
        }
        if (!passNotSame) {
            incorrectInputTexts.textContent = "-Password is not same with confirmation";
        }
    }

</script>
</body>
</html>